{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - NatalTribe{% endblock %}

{% block body %}
<h1>Modifier mon mot de passe</h1>


<hr>
<a href="{{ path('account') }}"> Retourner à mon compte </a><br>
<hr>

{{ form(form) }}

<hr>

{% endblock %}