{% extends 'base.html.twig' %}

{% block title %}New Videos{% endblock %}

{% block body %}
    <h1>Create new Videos</h1>

    {{ include('videos/_form.html.twig') }}

    <a href="{{ path('videos') }}">back to list</a>
{% endblock %}
